<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Stonypedia</title>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Stonypedia</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/index">Home</a></li>
          <li><a href="/transportation">Transportation</a></li>
          <li><a href="/accommodations">Accommodations</a></li>
          <li><a href="/activities">Activities</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col s12 m12">
        <h1>Welcome to Stonypedia!</h1>
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
